export(BamFileList)
export(chastityFilter)
export(naPositionFilter)
exportClasses(AnnotParam)
exportClasses(AnnotParamCharacter)
exportClasses(AnnotParamObject)
exportClasses(BamFileList)
exportClasses(BamParam)
exportClasses(RNAseq)
exportClasses(RnaSeqParam)
exportMethods("chrSize<-")
exportMethods("fileName<-")
exportMethods("geneModel<-")
exportMethods("genomicAnnotation<-")
exportMethods("librarySize<-")
exportMethods("organismName<-")
exportMethods("readCounts<-")
exportMethods("readCoverage<-")
exportMethods("readLength<-")
exportMethods("strand<-")
exportMethods(AnnotParam)
exportMethods(BamParam)
exportMethods(RPKM)
exportMethods(RnaSeqParam)
exportMethods(annotParam)
exportMethods(bamParam)
exportMethods(barcodePlot)
exportMethods(chrSize)
exportMethods(colnames)
exportMethods(count)
exportMethods(countBy)
exportMethods(datasource)
exportMethods(demultiplex)
exportMethods(easyRNASeq)
exportMethods(exonCounts)
exportMethods(featureCounts)
exportMethods(fetchAnnotation)
exportMethods(fetchCoverage)
exportMethods(fileName)
exportMethods(geneCounts)
exportMethods(geneModel)
exportMethods(genomicAnnotation)
exportMethods(getAnnotation)
exportMethods(getBamFileList)
exportMethods(knownOrganisms)
exportMethods(librarySize)
exportMethods(multivariateConditions)
exportMethods(organismName)
exportMethods(paired)
exportMethods(parallelize)
exportMethods(plotDispLSD)
exportMethods(plotDispersionEstimates)
exportMethods(plotNormalizationFactors)
exportMethods(precision)
exportMethods(ranges)
exportMethods(readCounts)
exportMethods(readCoverage)
exportMethods(readLength)
exportMethods(reduce)
exportMethods(simpleRNASeq)
exportMethods(strand)
exportMethods(stranded)
exportMethods(transcriptCounts)
exportMethods(type)
exportMethods(unsafeAppend)
exportMethods(validate)
exportMethods(yieldSize)
importClassesFrom(Biostrings,DNAStringSet)
importClassesFrom(DESeq,CountDataSet)
importClassesFrom(GenomicAlignments,GAlignments)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(GenomicRanges,GRangesList)
importClassesFrom(GenomicRanges,SummarizedExperiment)
importClassesFrom(IRanges,RangedData)
importClassesFrom(IRanges,RleList)
importClassesFrom(IRanges,Vector)
importClassesFrom(Rsamtools,BamFile)
importClassesFrom(Rsamtools,BamFileList)
importClassesFrom(ShortRead,AlignedRead)
importClassesFrom(ShortRead,ShortReadQ)
importClassesFrom(edgeR,DGEList)
importClassesFrom(genomeIntervals,Genome_intervals)
importClassesFrom(methods,"function")
importClassesFrom(methods,ANY)
importClassesFrom(methods,character)
importClassesFrom(methods,integer)
importClassesFrom(methods,list)
importClassesFrom(methods,matrix)
importClassesFrom(methods,missing)
importClassesFrom(methods,numeric)
importClassesFrom(methods,vector)
importFrom(Biostrings,DNAStringSet)
importFrom(DESeq,fitInfo)
importFrom(DESeq,newCountDataSet)
importFrom(GenomicAlignments,GAlignments)
importFrom(GenomicAlignments,readGAlignments)
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,GRangesList)
importFrom(IRanges,DataFrame)
importFrom(IRanges,IRanges)
importFrom(IRanges,IRangesList)
importFrom(IRanges,LogicalList)
importFrom(IRanges,RangedData)
importFrom(IRanges,RangesList)
importFrom(IRanges,RleList)
importFrom(IRanges,SimpleList)
importFrom(IRanges,SplitDataFrameList)
importFrom(IRanges,isSingleString)
importFrom(LSD,heatscatter)
importFrom(Rsamtools,BamFileList)
importFrom(Rsamtools,bamFlagTest)
importFrom(Rsamtools,index)
importFrom(Rsamtools,scanBamFlag)
importFrom(ShortRead,alignData)
importFrom(biomaRt,getBM)
importFrom(biomaRt,listDatasets)
importFrom(biomaRt,useDataset)
importFrom(biomaRt,useMart)
importFrom(edgeR,DGEList)
importFrom(edgeR,calcNormFactors)
importFrom(edgeR,estimateCommonDisp)
importFrom(edgeR,estimateTagwiseDisp)
importFrom(edgeR,maPlot)
importFrom(edgeR,plotBCV)
importFrom(edgeR,plotMDS.DGEList)
importFrom(edgeR,plotMeanVar)
importFrom(genomeIntervals,getGffAttribute)
importFrom(genomeIntervals,parseGffAttributes)
importFrom(genomeIntervals,readGff3)
importFrom(graphics,abline)
importFrom(graphics,axTicks)
importFrom(graphics,axis)
importFrom(graphics,boxplot)
importFrom(graphics,grid)
importFrom(graphics,hist)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,rect)
importFrom(methods,as)
importFrom(methods,extends)
importFrom(methods,is)
importFrom(methods,new)
importFrom(parallel,makePSOCKcluster)
importFrom(parallel,parLapply)
importFrom(parallel,stopCluster)
importFrom(utils,combn)
importFrom(utils,str)
importMethodsFrom(Biobase,fData)
importMethodsFrom(Biobase,varMetadata)
importMethodsFrom(BiocGenerics,"strand<-")
importMethodsFrom(BiocGenerics,annotation)
importMethodsFrom(BiocGenerics,cbind)
importMethodsFrom(BiocGenerics,clusterApply)
importMethodsFrom(BiocGenerics,colnames)
importMethodsFrom(BiocGenerics,counts)
importMethodsFrom(BiocGenerics,duplicated)
importMethodsFrom(BiocGenerics,estimateDispersions)
importMethodsFrom(BiocGenerics,estimateSizeFactors)
importMethodsFrom(BiocGenerics,eval)
importMethodsFrom(BiocGenerics,get)
importMethodsFrom(BiocGenerics,intersect)
importMethodsFrom(BiocGenerics,lapply)
importMethodsFrom(BiocGenerics,match)
importMethodsFrom(BiocGenerics,order)
importMethodsFrom(BiocGenerics,paste)
importMethodsFrom(BiocGenerics,pmax)
importMethodsFrom(BiocGenerics,rbind)
importMethodsFrom(BiocGenerics,rownames)
importMethodsFrom(BiocGenerics,sapply)
importMethodsFrom(BiocGenerics,strand)
importMethodsFrom(BiocGenerics,table)
importMethodsFrom(BiocGenerics,unique)
importMethodsFrom(Biostrings,type)
importMethodsFrom(GenomicAlignments,cigar)
importMethodsFrom(GenomicAlignments,summarizeOverlaps)
importMethodsFrom(GenomicRanges,"colData<-")
importMethodsFrom(GenomicRanges,"exptData<-")
importMethodsFrom(GenomicRanges,"seqlengths<-")
importMethodsFrom(GenomicRanges,"seqlevels<-")
importMethodsFrom(GenomicRanges,"seqnames<-")
importMethodsFrom(GenomicRanges,SummarizedExperiment)
importMethodsFrom(GenomicRanges,assay)
importMethodsFrom(GenomicRanges,colData)
importMethodsFrom(GenomicRanges,grglist)
importMethodsFrom(GenomicRanges,seqinfo)
importMethodsFrom(GenomicRanges,seqlengths)
importMethodsFrom(GenomicRanges,seqlevels)
importMethodsFrom(GenomicRanges,seqnames)
importMethodsFrom(IRanges,"%in%")
importMethodsFrom(IRanges,"colnames<-")
importMethodsFrom(IRanges,"elementMetadata<-")
importMethodsFrom(IRanges,"end<-")
importMethodsFrom(IRanges,"rownames<-")
importMethodsFrom(IRanges,"start<-")
importMethodsFrom(IRanges,"universe<-")
importMethodsFrom(IRanges,Rle)
importMethodsFrom(IRanges,aggregate)
importMethodsFrom(IRanges,as.list)
importMethodsFrom(IRanges,as.matrix)
importMethodsFrom(IRanges,as.table)
importMethodsFrom(IRanges,countOverlaps)
importMethodsFrom(IRanges,coverage)
importMethodsFrom(IRanges,elementLengths)
importMethodsFrom(IRanges,elementMetadata)
importMethodsFrom(IRanges,end)
importMethodsFrom(IRanges,findOverlaps)
importMethodsFrom(IRanges,gsub)
importMethodsFrom(IRanges,ifelse)
importMethodsFrom(IRanges,levels)
importMethodsFrom(IRanges,mcols)
importMethodsFrom(IRanges,mean)
importMethodsFrom(IRanges,median)
importMethodsFrom(IRanges,na.omit)
importMethodsFrom(IRanges,narrow)
importMethodsFrom(IRanges,nchar)
importMethodsFrom(IRanges,queryHits)
importMethodsFrom(IRanges,ranges)
importMethodsFrom(IRanges,reduce)
importMethodsFrom(IRanges,rev)
importMethodsFrom(IRanges,runLength)
importMethodsFrom(IRanges,runValue)
importMethodsFrom(IRanges,runsum)
importMethodsFrom(IRanges,space)
importMethodsFrom(IRanges,split)
importMethodsFrom(IRanges,start)
importMethodsFrom(IRanges,sub)
importMethodsFrom(IRanges,substr)
importMethodsFrom(IRanges,tolower)
importMethodsFrom(IRanges,unlist)
importMethodsFrom(IRanges,values)
importMethodsFrom(IRanges,which)
importMethodsFrom(IRanges,width)
importMethodsFrom(Rsamtools,"yieldSize<-")
importMethodsFrom(Rsamtools,ScanBamParam)
importMethodsFrom(Rsamtools,countBam)
importMethodsFrom(Rsamtools,path)
importMethodsFrom(Rsamtools,scanBam)
importMethodsFrom(Rsamtools,scanBamHeader)
importMethodsFrom(Rsamtools,yieldSize)
importMethodsFrom(ShortRead,chromosome)
importMethodsFrom(ShortRead,id)
importMethodsFrom(ShortRead,position)
importMethodsFrom(ShortRead,readAligned)
importMethodsFrom(ShortRead,srFilter)
importMethodsFrom(ShortRead,srdistance)
importMethodsFrom(ShortRead,sread)
importMethodsFrom(genomeIntervals,seq_name)
importMethodsFrom(methods,coerce)
importMethodsFrom(methods,initialize)
importMethodsFrom(methods,show)
